*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: brown;
    color: white;
    padding: 10px 30px;
    box-shadow: 2px 3px 5px rgb(86, 28, 28);
    z-index: 1;
    position: relative;
    
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(57, 26, 26);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
}
.button:hover::before{
    transform: scaleX(1);
}

a{
    text-decoration: none;
}