*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 205, 205, 0.988);
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container{
    width: 50vw;
    height: 75vh;
    background-color: white;
    margin: auto;
    padding-top: 2rem;
    padding-left: 3rem;
    border-radius: 10px;
    /* margin-top: 3rem; */
}

/* h1{
    margin: 1rem 0;
} */
#heading span{
    font-size: 20px;
}

form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.form{
    display: flex;
    flex-direction: column;
    width: 312px;
    font-weight: bold;
    margin: 5px;
}

.inpt{
    border-radius: 3px;
    height: 25px;
}

button{
    margin: 0.5rem 0;
    margin-left: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-width: 2px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}